ion-label{
  margin-left: 15px;
    font-size: larger;
    font-weight: 600;
}

p{
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress-bar{
  left: 10%;
  width: 80%;
  border-radius: 20px;
  height: 20px;
  --background:#e5e5e5;
}
