<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Kalori Takibi</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-label>Bugün Ne Yedin ?</ion-label>

  <ion-item>
    <ion-select [(ngModel)]="myAteFoods" (ngModelChange)="calculateMyCalorie()" placeholder="Yiyecek Seç" [multiple]="true">
      <ion-select-option *ngFor="let food of foods" value="{{food.kalori}}">{{food.yemek}}</ion-select-option>

    </ion-select>
  </ion-item>
<br><br><br>
  <ion-label>Gerekli Kalori</ion-label>
  <p class="p1"> <b> {{myTakenCalorie}}/{{amountOfCalorie}} kcal</b> </p>
  <p >{{myTakenCalorie > amountOfCalorie? 'Kalori miktarını aştınız':'Yeteri kadar kalori almadınız'}}</p>

  <ion-progress-bar style="{{myTakenCalorie < amountOfCalorie ?  '--progress-background: green;':'--progress-background: red'}}
  " class="progress-bar"  value="{{myTakenCalorie / amountOfCalorie}}" ></ion-progress-bar>
<!--suuu-->
<br><br><br>
<ion-label>Gerekli Su</ion-label>
<p class="p1"> <b> {{myDrunkWater}}/{{amountOfWater}} bardak</b><ion-button (click)="removeDrunkWater()">-</ion-button> <ion-button (click)="addDrunkWater()">+</ion-button> </p>
<p >{{myDrunkWater >= amountOfWater ?'Yeterli miktarda su içtiniz':'Yeteri kadar su içmediniz'}}</p>

<ion-progress-bar style="{{myDrunkWater< amountOfWater ?'--progress-background: blue;':'--progress-background: green'}}
" class="progress-bar"  value="{{myDrunkWater/amountOfWater}}" ></ion-progress-bar>
</ion-content>
